[Unit]
Description=zookeeper service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=csk
WorkingDirectory=/home/csk/elk/kafka
# Start the ZooKeeper service
# Note: Soon, ZooKeeper will no longer be required by Apache Kafka.
ExecStart=/home/csk/elk/kafka/bin/zookeeper-server-start.sh /home/csk/elk/kafka/config/zookeeper.properties
ExecStop=/home/csk/elk/kafka/bin/zookeeper-server-stop.sh


[Install]
WantedBy=multi-user.target
